@page
@model IndexModel

@{
    ViewData["Title"] = "मेरा वाला डांस";
}

<div class="text-center">
    <h1  class="display-4">@ViewData["Title"]</h1>
   <div id="hindilyrics">
        <p>मेरे इशारे पे<br> 
        तक धिना धिन नाचा जो<br> 
        ट्विटर पे ट्रेंड हो गया</p>
        <p>हे नाशिक के ढोल पे<br> 
        धन धना धन नाच तो<br> 
        सब का <em>the end</em> 
        हो गया</p><p>हे.. मेरे इशारे पे<br>
        तक धिना धिन नाचा जो<br> 
        ट्विटर पे ट्रेंड हो गया<br> 
        नाशिक के ढोल पे<br>
        धन धना धन नाच तो<br>
        सब का थे <em>end</em>हो गया</p>
        <p>सारी दुनिया में एक ही फेमस है<br> 
        मुंबई हो या प्राग..</p>
        <p>आ दिखा दूं तुझे मेरा वाला डांस<br>
        ये है ये है ये है मेरा वाला डांस<br> 
        तो नाचू.. आहा..<br> 
        ये है मेरा वाला डांस<br> 
        तो नाचू..<br> 
        ये है मेरा वाला डांस</p>
        <p>एक तेरे खातिर ही<br> 
        दिल ये <em>possessive</em> है<br> 
        मैं तेरे पीछे पड़ा<br> 
        असर तेरा <em>messive</em> है<br> 
        असर तेरा <em>messive</em> है</p>
        <p>एक तेरे खातिर ही<br> 
        दिल ये <em>possessive</em> है<br> 
        मैं तेरे पीछे पड़ा<br> 
        असर तेरा <em>messive</em> है<br> 
        असर तेरा <em>messive</em> है</p>
        <p>हाय मैंने लाखों को ब्लॉक करके ही<br> 
        तुझको दिया है चांस..<br> 
        हेय आ दिखा दे मुझे तेरा वाला डांस<br> 
        देखूं तो मैं कैसा है<br> 
        तेरा वाला डांस<br> 
        तो नाचू..</p>
        <p>ये है मेरा वाला डांस<br> 
        तो नाचू..<br> 
        ये है मेरा वाला डांस आ</p>
    </div>
</div>